/*----------ELEMENTS----------*/

body {
	background-color: #FCFCE6;
	background-image: url(../img/bedge-grunge.png);
	font-family: 'Lora', serif;
}

a {
	background-color: #F0F0F0;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 1px #555;
	color: black;
	display: block;
	font-size: 20px;
	height: 48px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

a:hover {
	background-color: #BBF7BA;
	color: white;
	height: 50px;
	text-decoration: none;
	width: 105%;
}

h5 {
	font-style: italic;
	margin-top: -10px;
}

main {
	font-size: 20px;
}

table {
	background-image: url(../img/subtle_grunge.png);
	text-align: center;
}

td {
	box-shadow: -2px 2px 5px 0px #000;
	padding-bottom: 5px;
	padding-top: 5px;
}

/*----------CLASSES----------*/

.bold {
	font-weight: bold;
	margin-top: 10px;
}

.caption {
	margin-left: 150px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.combo {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 40px;
}

.container-fluid {
	margin-bottom: 50px;
}

.cup {
	margin-left: 252px;
}

.dressings {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 160px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.fri {
	margin-left: 313px;
}

.header {
	height: 300px;
	padding: 0px;
}

.header-img {
	height: 300px;
	width: 100%;
}

.img-responsive {
    height: auto;
    width: 100%;
}

.item {
	margin-top: 10px;
}

.item-paragraph {
	font-style: italic;
	margin-top: -10px;
	padding-left: 50px;
	padding-right: 50px;
}

.main-title {
	font-weight: bold;
}

.main-paragraph {
	padding-top: 20px;
}

.mon {
	margin-left: 269px;
}

.navbar {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.salad {
	padding-left: 40px;
}

.salad-descr {
	font-style: italic;
	margin-top: -10px;
	padding-left: 60px;
}

.soup {
	margin-left: -40px;
}

.table {
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: -10px 10px 10px 1px #555;
	overflow: hidden;
	padding: 0px;
	width: 58.33%;
}

.thurs {
	margin-left: 302px;
}

.toppings {
	font-size: 16px;
	margin-top: 5px;
	padding-left: 15px;
	text-align: center;

}

.tues {
	margin-left: 276px;
}

.underline {
	text-decoration: underline;
}

.wed {
	margin-left: 290px;
}