/*----------ELEMENTS----------*/

body {
	background-color: #FCFCE6;
	background-image: url(../img/bedge-grunge.png);
	font-family: 'Lora', serif;
}

a {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 1px #555;
	color: black;
	display: block;
	font-size: 20px;
	height: 48px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

a:hover {
	background-color: #BBF7BA;
	color: white;
	height: 50px;
	text-decoration: none;
	width: 105%;
}

h5 {
	font-style: italic;
	margin-top: -10px;
}

main {
	font-size: 20px;
}

table {
	text-align: center;
	border: 1px dashed #000;
	margin-bottom: 20px;
}

td {
	border: 1px dashed #000;
	padding-top: 5px;
	padding-bottom: 5px;
}

/*----------CLASSES----------*/

.bold {
	font-weight: bold;
}

.container-fluid {
	margin-bottom: 20px;
}

.header {
	height: 300px;
	padding: 0px;
}

.header-img {
	height: 300px;
	width: 100%;
}

.img-responsive {
    height: auto;
    width: 100%;
}

.item {
	margin-top: 10px;
}

.item-paragraph {
	padding-left: 50px;
	padding-right: 50px;
	font-style: italic;
	margin-top: -10px;
}

.main-title {
	font-weight: bold;
}

.main-paragraph {
	padding-top: 20px;
}

.navbar {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.toppings {
	font-size: 16px;
	margin-top: 5px;
	padding-left: 15px;
	text-align: center;

}

.underline {
	text-decoration: underline;
}